.button {
  background: #fff;
  color: #231f20;
  cursor: pointer;
  border: 1px solid #231f20;
  padding: 1.5em;
  border-radius: 2em;
  transition: ease-in-out 1s;
  font-weight: 500;
  height: 80px;
}
.button:hover {
  background: #231f20;
  border: 1px solid rgb(109, 109, 255);
  box-shadow: 0px 0px 15px rgba(58, 95, 143, 0.699);
  color: #fff;
  transform: scale(1.1);
  transition: ease-in-out 0.9s;
}

.act {
   background: rgb(60, 60, 156);
  border: 1px solid rgb(60, 60, 156);;
  color: #fff;
  padding: 1.5em;
  border-radius: 2em;
  transition: ease-in-out 1s;
  font-weight: 500;
  cursor: pointer;
  height: 80px;
}
.act:hover {
   background: #231f20;
  border: 1px solid rgb(109, 109, 255);
  box-shadow: 0px 0px 15px rgba(58, 95, 143, 0.699);
  color: #fff;
  transform: scale(1.1);
  transition: ease-in-out 0.9s;
}

.shop {
  background: rgb(60, 60, 156);
  border: 1px solid rgb(60, 60, 156);;
  color: #fff;
  padding: 1.5em;
  border-radius: 2em;
  transition: ease-in-out 1s;
  font-weight: 500;
  cursor: pointer;
}
.shop:hover {
  background: #231f20;
  border: 1px solid rgb(109, 109, 255);
  box-shadow: 0px 0px 15px rgba(58, 95, 143, 0.699);
  color: #fff;
  transform: scale(1.1);
  transition: ease-in-out 0.9s;
  height: 80px;
}
