hero {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4em;
  text-align: justify;
  transition: ease-in-out 1s;
  border-bottom: 1px solid black;
  padding-bottom: 15em;
  margin-top: 5em;
}

hero p {
  margin-top: 5em;
  font-size: 14pt;
}

.secondHeading h1 {
  background: rgb(60, 60, 156);
  color: #fff;
}

.thirdHeading h1 {
  color: #fff;
  background: rgb(156, 60, 60);
}

.firstDiv {
  max-width: 350px;
}

.firstHeading {
  position: relative;
  left: -10em;
  transition: ease-in-out 1s;
  border: 1.1px solid black;
  border-top-right-radius: 2em;
  margin: 1em auto 2em;
  padding: 1em;
  text-align: center;
  width: 300px;
  box-shadow: 10px 10px 0px rgba(21, 21, 21, 0.173);
}
.secondHeading {
  text-align: center;
  margin: 1em auto 2em;
  background: rgb(60, 60, 156);
  box-shadow: 10px 10px 0px rgba(20, 20, 129, 0.516);
  border-top-right-radius: 2em;
  position: relative;
  width: 300px;
  transition: ease-in-out 2s;
  padding: 1em;
}
.thirdHeading {
  text-align: center;
  position: relative;
  right: -10em;
  transition: ease-in-out 3s;
  border-top-right-radius: 2em;
  background: rgb(156, 60, 60);
  box-shadow: 10px 10px 0px rgba(76, 29, 29, 0.495);
  padding: 0.8em;
  width: 300px;
}

.img {
  margin-left: 4em;
}
