.div_main {
  background: #231f20;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 2em;
  color: #fff;
  box-shadow: 10px 10px 0px #104577;
}

.div_main h2 {
  margin-top: 4em;
  text-align: center;
  padding: 0.5em;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;
  margin-top: 2em;
  padding-bottom: 10em;
  flex-wrap: wrap;
  margin-top: 4em;
}

.cards {
  border: 1px solid black;
  border-radius: 2em;
  padding: 2em;
  width: 350px;
  height: 800px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.377);
}

.card7,
.card8 {
  border: 1px solid black;
  border-radius: 2em;
  padding: 2em;
  width: 350px;
  height: 400px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.377);
}

.cards > p {
  margin-top: 4em;
  margin-bottom: 1em;
}

.img {
  max-width: 100px;
  background: rgb(46, 46, 46);
  padding: 1em;
  border-radius: 2em;
}

.button {
  background: #fff;
  color: #231f20;
  cursor: pointer;
  border: 1px solid #231f20;
  padding: 1.5em;
  border-radius: 2em;
  transition: ease-in-out 1s;
  font-weight: 500;
  margin-bottom: 1em;
  width: 200px;
}
.button:hover {
  background: #231f20;
  border: 1px solid rgb(109, 109, 255);
  box-shadow: 0px 0px 15px rgba(58, 95, 143, 0.699);
  color: #fff;
  transform: scale(1.1);
  transition: ease-in-out 0.9s;
}

.button7,
.button8 {
  background: #fff;
  color: #231f20;
  cursor: pointer;
  border: 1px solid #231f20;
  padding: 1.5em;
  border-radius: 2em;
  transition: ease-in-out 1s;
  font-weight: 500;
  margin-bottom: 1em;
  width: 200px;
  margin-top: 3em;
}

.button8 {
  margin-top: 6.5em;
}
.button7:hover,
.button8:hover {
  background: #231f20;
  border: 1px solid rgb(109, 109, 255);
  box-shadow: 0px 0px 15px rgba(58, 95, 143, 0.699);
  color: #fff;
  transform: scale(1.1);
  transition: ease-in-out 0.9s;
}

.sectionInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #231f20;
  margin: 0 auto 2em;
  max-width: 650px;
  text-align: justify;
  border-bottom-left-radius: 2em;
  box-shadow: 10px 10px 0px rgb(212, 212, 118);
}

.sectionInfo > p {
  margin-top: 2em;
  padding: 4em;
}

.sectionInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/public/background.avif");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  height: 350px;
  border-bottom: 2px solid #231f20;
}

.sectionInfoDiv h2 {
  font-size: 25pt;
}

.sectionInfoDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/public/womanbackground.avif");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  height: 350px;
  border-bottom: 2px solid #231f20;
}

.sectionInfoDiv2 h2 {
  font-size: 25pt;
}

.books {
  display: flex;
  justify-content: center;
  padding: 3em;
}

.books img {
  max-width: 650px;
  cursor: pointer;
}

.books img:hover {
  transition: ease-in-out 1.2s;
  border-radius: 2em;
  transform: scale(1.1);
}

/* MEDIA QUERIES FOR MAIN */

/* START  iPhone 14 pro max - 430 x 932*/
@media (max-width: 500px) {
  .div_main {
    max-width: 350px;
  }

  .sectionInfo {
    max-width: 400px;
    box-shadow: none;
  }

  .books img {
    width: 350px;
  }
}

/* END  iPhone 14 pro max*/
